*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins';
    background: #EFEFEF;
    height: 1930px;

}

body::before{

    content: '';
    width: 100%;
    height: 436px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: #535971;

}

#page{
    width: 750px;
    margin: auto;
}

header{
    margin-top: 140px;
    color: #FFF;
}

header h1{
    color: #FFF;
    font-size: 48px;
    font-family: 'Staatliches';
}

header p{
    margin-top: 18px;
}

form{
    margin-top: 58px;
    background: white;
    min-height: 300px;
    border-radius: 20px 20px 0px 0px;
    display: flex;
    flex-direction: column;
    gap: 36px;
    padding: 64px;
}

fieldset{
    border: none;
}

.fieldset-wrapper{
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 36px;
}

.col-2{
    display: flex;
    gap: 22px;
 }

.col-2 > div{
    width: 100%;
 }

.col-3{
    display: flex;
    gap: 22px;
}

.col-3 > div:nth-child(1){
    width: 100%;
 }

fieldset legend{
    color: #535971;
    font-size: 24px;
    font-family: 'Staatliches';
    line-height: 34px;
    border-bottom: 1px solid #E6E6F0;
    width: 100%;
    line-height: 37px;
    padding-bottom: 16px;
}

.input-wrapper{
    display: flex;
    flex-direction: column;
}

.input-wrapper input{
    
    height: 56px;
    border-radius: 8px;
    border: 1px solid #E6E6F0;
    background: #FAFAFC;
    padding: 0 24px;
    font-size: 16px;
    line-height: 26px;
    color: #827f88;

}

.input-wrapper label{
    color: #4E4958;
    font-size: 14px;
    font-family: 'Poppins';
    line-height: 24px;
    margin-bottom: 8px;
}

.input-wrapper span{
    color: #C1BCCC;
    font-size: 12px;
    font-family: Poppins;
    line-height: 20px;
}

.fieldset-wrapper p {
    color: #535971;
    font-size: 20px;
    font-family: 'Staatliches';
    line-height: 34px;
}

footer{
    height: 160px;
    border-radius: 0px 0px 20px 20px;
    background: #535971;
    display: flex;
    flex-direction: column;
    padding: 52px 71px;
}

footer .button{
    border-radius: 20px;
    background: #FF5374;
    height: 55px;
    color: #FFF;
    font-size: 20px;
    font-family: 'Staatliches';
    line-height: 26px;
    border: 0;
}

footer .button:hover{
    background: #e43e5f;
}





